
<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Tipo de reporte</ion-label>
      <ion-select formControlName="tipo" placeholder="Elige uno">
        <ion-select-option value="FALLA">Falla</ion-select-option>
        <ion-select-option value="SOLUCION">Solución</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-input formControlName="folio" placeholder="Folio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="asunto" placeholder="Asunto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="administrador" placeholder="Administrador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="responsable" placeholder="Responsable del reporte"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="telefonoResponsable" placeholder="Tel. del responsable"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="lugar" placeholder="Lugar"></ion-input>
    </ion-item>

    <!-- Default List Header -->
    <ion-list-header>
      <ion-label>Fallas: </ion-label>
    </ion-list-header>
  </form>

  <ion-list>
      <!---
        Este es el que necesitaré por mientras
        <ion-item>
          <ion-avatar slot="start">
            <img src="./avatar-han.png">
          </ion-avatar>
          <ion-label>
            <h2>Han</h2>
            <h3>Look, kid...</h3>
            <p>I've got enough on my plate as it is, and I...</p>
          </ion-label>
        </ion-item>
       -->

      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
    </ion-list>
</ion-content>