
<ion-content [fullscreen]="true">
  <form [formGroup]="form">
    <ion-item>
      <ion-label>Tipo de reporte</ion-label>
      <ion-select formControlName="tipo" placeholder="Elige uno">
        <ion-select-option value="SOLUCION">Solución</ion-select-option>
        <ion-select-option value="FALLA">Falla</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-input formControlName="folio" placeholder="Folio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="asunto" placeholder="Asunto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="administrador" placeholder="Administrador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="responsable" placeholder="Responsable del reporte"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="telefonoResponsable" placeholder="Tel. del responsable"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input formControlName="lugar" placeholder="Lugar"></ion-input>
    </ion-item>
  </form>

  <section *ngIf="form.value.tipo" style="margin: 20px;">
    <ion-button (click)="openModal(false, 0)" expand="block">Agregar</ion-button>
  </section>

  <ion-list-header *ngIf="form.value.tipo">
    <ion-label>{{ form.value.tipo == 'SOLUCION' ? 'Soluciones': 'Fallas' }}:</ion-label>
  </ion-list-header>

  <ion-list *ngIf="form.value.tipo">
    <ion-item *ngFor="let item of items; index as index" (click)="clickItem(index)">
      <ion-avatar slot="start">
        <img [src]="item.base64Images[0]">
      </ion-avatar>
      <ion-label>
        <h3>{{ item.asunto }}</h3>
        <p>{{ item.descripcion }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <section style="margin: 20px;">
    <ion-button (click)="generarPDF()" expand="block">Generar PDF</ion-button>
  </section>
</ion-content>